<div class="text-center">
  <div class="d-flex justify-content-center align-items-center container ">
    <form class="form-signin" (submit)="login($event)">
      <h1 class="h3 font-weight-normal">Please Login</h1><br>
      <label for="username" class="sr-only">Username</label>
      <input [(ngModel)]="username" type="username" name="username" class="form-control" placeholder="username"><br>
      <label for="inputPassword" class="sr-only">Password</label>
      <input [(ngModel)]="password" type="password" name="password" class="form-control" placeholder="Password"><br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
  </div>
</div>
