<div class="text-center">
    <div class="d-flex justify-content-center align-items-center container ">
      <form class="form-signin"(submit)="createGroup($event)">
        <h1 class="h3 font-weight-normal">Create New Group</h1><br>
        <label for="name" class="sr-only">Name</label>
        <input [(ngModel)]="name" type="text" name="name" class="form-control" placeholder="name" required autofocus><br>
        <label for="users" class="sr-only">Users</label>
        <input [(ngModel)]="users" type="text" name="users" class="form-control" placeholder="users" required><br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
      </form>
    </div>
  </div>